/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/
.clearfix{
	clear: both;
}

/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
#shop{
	background-color: black;
	/*background: url('../img/darin/bg-newest.jpg') no-repeat center center fixed ; //fixed
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;*/
	width: 100%;

	#items{
		margin: 0 auto;
		width: 70%;

		ul{
			list-style-type: none;
			padding: 0px;
    		margin: 0px;

			.item{
				float: none;
				margin: 1.5%;
				width: 100%;

				img{
					width: 100%;
					margin-bottom: -10px;
				}

				.item-info{
					background-color: white;
					padding: 0.5em 1em;

					h2{
						font-size: 1em;
						text-transform: uppercase;
					}

					p{
						font-size: 0.8em;
					}
				}
			}
		}
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{
	background-color: #363636;
	color: white;
	outline: solid black 1px;
	width: 100%;

	h5{
		text-transform: uppercase;
	}

	ul{
		list-style-type: none;
		padding: 0px;
    	margin: 0px;
		li{
			font-size: 0.7em;
			padding-bottom: 1em;

			&:hover{
				color: grey;
			}
		}	
	}

	#contact, #about{
		float: none;
		margin-left: 1.5em;
		margin-top: 2em;
	}
}

/*******************************************************/
/*********************** TERMS *************************/
/*******************************************************/
.wrapper{
	width: 100%;
	.content{
		margin: 0 auto;
		outline: solid red 1px;
		padding: 10em;
		width: 50%;

		h1, h2{
			text-transform: uppercase;
		}

		h1{
			font-size: 1.8em;
		}

		h2{
			font-size: 1em;
		}

		p{
			font-size: 0.9em;
		}
	}
}