/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
#shop{
	#items{
		width: 70%;
		ul{
			.item{
				float: left;
				margin: 1.5%;
				width: 22%;
			}
		}
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{	
	height: 18em;
	outline: solid black 1px;
	width: 100%;

	#contact, #about{
		float: left;
		margin-left: 10em;
	}

	img{
		margin-left: 10em;
		margin-top: 2em;
	}
}