body {
    background: url('../img/darin/bg-newest.jpg') no-repeat; //fixed
    position: absolute;
    top: 0px;
    left: 0px;
    height: 980px;
    z-index: -1;
    background-position: center top;
    width: 100%;
}

.menu {
	width: 100%;
    height: 240px;
    background: url('../img/darin/darin-new-top.png') no-repeat;
    background-position: center top;
}

.logo {
	background: url('../img/darin/logo.png') no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -100px;
}

.sticky-menu {
	margin-top: -13px;
	height: 50px;
	background: #b8afa7;
}

.navigation-menu {
	text-align: center;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-family: 'Lagom', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
}

.navigation-menu ul {
    padding: 0px;
}

.navigation-menu ul li {
	list-style-type: none;
	display: inline-block;	
}

.navigation-menu li a {
	position: relative;
    display: block;
	padding: 0 18px;
	text-decoration: none;
	font-weight: normal;
	color: white;
	text-transform: uppercase;
}

.sticky {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    z-index: 100;
    background: #b8afa7;
}

.sticky-mobile-menu {
    display: none;
}

.navigation-menu-sticky {
    line-height: 30px;
}

.right-basket {
    float: right;
    padding-right: 50px;
}
