/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
#shop{
	#items{
		ul{
			.item{
				margin-bottom: 2em;
			}
		}
	}
}
/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{
	height: 20em;
	padding-top: 1.5em;
	img{
		display: none;
	}
}