/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/

#shop{
	#items{
		width: 80%;
		ul{
			.item{
				float: left;
				margin: 1%;
				width: 31%;
			}
		}
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{
	height: 18em;

	#contact, #about{
		float: left;
		margin-left: 3em;
	}

	img{
		margin-left: 3em;
		margin-top: 2em;
	}
}