/*******************************************************/
/********************** GENERAL ************************/
/*******************************************************/
@font-face {
    font-family: 'Lagom';
    src: url(../fonts/darin/LagomGeometrisk-Regular.ttf);
}

body {
	font-family: 'Lagom';
	background: url('../img/darin/bg-newest.jpg') no-repeat; //fixed
    position: absolute;
    top: 0px;
    left: 0px;
    height: 980px;
    z-index: -1;
    background-position: center top;
    width: 100%;
    
    a {
	text-decoration: none;
	color: blue;
	}
}
/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
.shop {
	background-color: black;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 100%;

	//style, index.php (shopen)
	.items {
		margin: 0 auto;
		padding-bottom: 5%;
		padding-top: 2.5%;

		ul {
			list-style-type: none;
			padding: 0px;
    		margin: 0px;
    		overflow: hidden;
    		
    		a {
    			color: black;
    			
    			&:hover {
    				color: black;
    			}
    		}

			.item {
				float: none;
				
				img {
					width: 100%;
				}

				.item-info {
					background-color: white;
					padding: 0.5em 1em;

					h2 {
						font-size: 1em;
						text-transform: uppercase;
					}

					p {
						font-size: 0.8em;
					}
				}
			}
		}
	}
	
	//style, single-item.php (sida där en produkt visas)
	.item-show {
		background-color: white;
		margin: 0 auto;

		img {
			height: auto;
			padding: 2%;
		}

		.item-info {

			p {
				font-weight: normal;
			}

			.options{
				fieldset {
					border: none;
					margin-left: 0;
					padding-left: 0;
				}

				h3 {
					font-size: 1.1em;
				}
				
				p{
					margin-top: 0;
					margin-bottom: 0;
				}

				.price {
					font-size: 2em;
					font-weight: bold;
				}

				button {
					background-color: black;
					border: none;
					color: white;
					width: 150px;

					p {
						font-size: 0.7em;
						line-height: 35px;
						padding: 0.5em;;
						text-align: center;
						text-transform: uppercase;
					}
					
					&:hover {
						background-color: #01ABED;
						color: black;
					}	
				}
			}
			
			//bakåtlänk till shoppen
			.back {
				margin-top: 1.5em;
				margin-bottom: 1em;
				
				a {
					color: black;
					
					&:visited {
						color: black;
					}
					
					&:after {
						clear: both;
						content: "";
						display: block;
					}
					
					.fa, p {
						float: right;
						line-height: 1em;
						vertical-align: middle;
					}
					
					.fa {
						margin-right: 0.4em;
					}
					
					p {
						margin-top: 0;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
footer{
	background-color: #363636;
	color: white;
	outline: solid black 1px;
	width: 100%;

	h5{
		text-transform: uppercase;
	}

	ul{
		list-style-type: none;
		padding: 0px;
    	margin: 0px;
		li{
			font-size: 0.7em;
			padding-bottom: 1em;

			&:hover{
				color: grey;
			}
		}	
	}

	.contact, .about{
		float: none;
		margin-left: 1.5em;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	img{
		display: none;
	}
}
/*******************************************************/
/******************* LINKS IN FOOTER *******************/
/*******************************************************/
.wrapper{
	margin-top: 25%;
	width: 100%;
	.content{
		background-color: white;
		margin: 0 auto;
		outline: solid red 1px;
		padding: 3em 8em;
		width: 50%;

		h1, h2, h3{
			text-transform: uppercase;
		}

		h1{
			font-size: 1.8em;
		}

		h2{
			padding-top: 2em;
			font-size: 1.3em;
		}

		h3{
			font-size: 1em;
		}

		p{
			font-size: 0.9em;
		}

		fieldset{
			border: none;

			input[type=text], textarea {
			    display: block;
			}

			input, textarea, select{
				color: black;
				margin-bottom: 5%;
				margin-top: 1%;
				padding: 1%;
				width: 40%;
			}

			textarea{
    			height: 100px;
    		}
 
		}
	}
}