/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
#shop{
	#items{
		width: 70%;
		ul{
			.item{
				float: left;
				margin: 1.5%;
				width: 22%;
			}
		}
	}
}

/******************** SHOP 'POPUP' *********************/
.item-show{
	background-color: white;
	display: none;
	height: 450px;
	//height: 28em;
	margin: 0 auto;
	width: 100%;

	img{
		height: auto;
		padding: 2%;
		width: 46%;
	}

	.item-info{
		padding: 1% 3%; 
		width: 40%;

		p{
			font-weight: normal;
		}

		fieldset{
			border: none;
			float: left;
			padding-left: 0;
		}

		fieldset:nth-of-type(2){
			margin-left: 2em;
		}

		h3{
			font-size: 1.1em;
		}

		.price, .button{
			float: left;
		}

		.price{
			font-size: 2em;
			font-weight: bold;
			margin-top: 0.8em;
		}

		.button{
			background-color: black;
			color: white;
			margin-left: 5em;
			margin-top: 1em;
			width: 150px;

			p{
				font-size: 0.7em;
				line-height: 35px;
				text-align: center;
				text-transform: uppercase;
 
			}	
		}
	}

	.fa{
		font-size: 1.5em;
		margin-right: 2%;
		margin-top: 2%;
		width: 1%;
	}

	img, .item-info, .fa{
		float: left;
	}
}

/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
footer{	
	height: 18em;
	outline: solid black 1px;
	width: 100%;

	.contact, .about{
		float: left;
		margin-left: 10em;
	}

	img{
		clear: both;
		display: block;
		margin-left: 10em;
		padding-top: 1em;
	}
}