/*******************************************************/
/************************ MENU *************************/
/*******************************************************/

.navigation-menu {
	display: none;
}

.sticky-menu {
   
}

.sticky-mobile-menu {
	display: none;
	position: absolute;
	border-top: 1px solid white;
	width: 100%;
	background: #b8afa7;
}

.sticky-mobile-menu ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.sticky-mobile-menu ul li {
	list-style-type: none;
	padding: 10px 15px 10px 15px;
	text-align: center;
	display: block;	
}

.sticky-mobile-menu li a {
	color: white;
	letter-spacing: 1px;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
    line-height: 20px;
}

.logo {
	margin-top: 50px;
}

.mobile-menu {
	float: right;
	margin-right: 12px;
	margin-top: 10px;
	border: 1px solid white;
	border-radius: 5px;
	width: 40px;
	height: 30px;
}

.mobile-menu:hover {
	background-color: #D3D3D3;
	cursor: pointer;
}

.hamburger-menu
{
	top: 19px;
	right: 23px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
}


.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 5px;
}

.hamburger-menu:after
{
    top: 6px;
}

.hamburger-menu:before
{
    top: 12px;
}

.slide {
	display: none;
	margin-top: 31px;
	padding-top: 55px;
	width: 100%;
	height: 25px;
	background-color: black;
}
/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
#shop{
	margin-top: 130%;
	#items{
		ul{
			.item{
				margin-bottom: 2em;
			}
		}
	}
}

/******************** SHOP 'POPUP' *********************/
.item-show{
	margin: 0 auto;

	img{
		width: 96%;
	}

	.item-info{
		padding: 1% 3%; 
		width: 98%;

		.price{
			font-size: 2em;
			font-weight: bold;
			margin-top: 0.8em;
		}

		.button{
			margin-top: 1em;
		}
	}

	.fa{
		margin-left: 2%;
		padding-bottom: 3%;
	}

}
/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{
	height: 20em;
}