/*******************************************************/
/************************ MENU *************************/
/*******************************************************/
header {
	img {
		width: 200px;
    	height: 200px;
    	background-size: 200px;
    	position: absolute;
    	left: 50%;
    	top: 70px;
    	margin-left: -100px;
	}
}

.menu {
	width: 100%;
	position: absolute;
	height: 50px;
	background: #b8afa7;
	
	button {
		width: 44px;
		height: 34px;
		float: right;
  		position: relative;
        -webkit-appearance: none;
  		border: 1px solid #ddd;
  		border-radius: 4px;
  		padding: 9px 10px;
    	margin-top: 8px;
    	margin-right: 15px;
    	margin-bottom: 8px;
  		background: transparent;
  		text-indent: -9999px;
  		
 		&:after {
  			width: 22px;
  			content: '';
  			position: absolute;
  			left: 10px;
  			bottom: 9px;
  			right: 11px;
  			border-bottom: 2px solid white;
		}
		
		&:before {
    		content: '';
    		width: 22px;
    		height: 4px;
  			position: absolute;
  			left: 10px;
  			right: 11px;
  			top: 11px;
  			margin-top: -2px;
  			border-top: 2px solid white;
  			border-bottom: 2px solid white;
		}
		
		&:hover {
			background-color: #ddd;
			
		}
	}
}

.main-menu {
	margin-top: 50px;
	display: none;
	position: relative;
	border-top: 1px solid white;
	width: 100%;
	background: #b8afa7;
	z-index: 1;
	
		ul {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 0px;
			
			li {
				list-style-type: none;
				padding: 10px 15px 10px 15px;
				text-align: center;
				display: block;
				
				a {
					color: white;
					letter-spacing: 1px;
					font-size: 13px;
					text-transform: uppercase;
					text-decoration: none;
    				line-height: 20px;
			}
		}
	}
}
/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
.shop {
	margin-top: 130%;
	
	//style, index.php (shopen)
	.items {
		width: 90%;
		
		ul {
			.item {
				margin-bottom: 5%;
			}
		}
	}
	
	//style, single-item.php (sida där en produkt visas)
	.item-show {
		width: 90%;

		img {
			width: 96%;
		}

		.item-info {
			padding: 1% 5%; 
			width: 90%;

			.price {
				margin-top: 0.8em;
			}

			button {
				margin-top: 1em;
			}
		}
	}
}


/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer {
	height: 20em;
}