/*******************************************************/
/************************ MENU *************************/
/*******************************************************/
header {
	img {
		width: 200px;
    	height: 200px;
    	background-size: 200px;
    	position: absolute;
    	left: 50%;
    	top: 70px;
    	margin-left: -100px;
	}
}

.menu {
	height: 50px;
	background: #b8afa7;
	
	.mobile-menu {
		float: right;
		margin-right: 12px;
		margin-top: 10px;
		border: 1px solid white;
		border-radius: 5px;
		width: 40px;
		height: 30px;
		
		&:hover {
			background-color: #D3D3D3;
			cursor: pointer;
		}
	}
}

.mobile-menu-dropdown {
	display: none;
	position: absolute;
	border-top: 1px solid white;
	width: 100%;
	background: #b8afa7;
	z-index: 1;
	
		ul {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 0px;
			
			li {
				list-style-type: none;
				padding: 10px 15px 10px 15px;
				text-align: center;
				display: block;
				
				a {
					color: white;
					letter-spacing: 1px;
					font-size: 13px;
					text-transform: uppercase;
					text-decoration: none;
    				line-height: 20px;
			}
		}
	}
}

.hamburger-menu {
	top: 19px;
	right: 23px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    
    &:after, &:before {
    	content: '';
    	width: 100%;
    	height: 2px;
    	background-color: #fff;
    	position: absolute;
    	border-radius: 5px;
	}
	
	&:after {
    	top: 6px;
	}
	
	&:before {
    	top: 12px;
	}
}

.navigation-menu {
	display: none;
}
/*******************************************************/
/************************ SHOP *************************/
/*******************************************************/
.shop{
	margin-top: 130%;
	
	//style, index.php (shopen)
	.items{
		width: 90%;
		ul{
			.item{
				margin-bottom: 5%;
			}
		}
	}
	
	//style, single-item.php (sida där en produkt visas)
	.item-show{
		width: 90%;

		img{
			width: 96%;
		}

		.item-info{
			padding: 1% 5%; 
			width: 80%;

			.price{
				margin-top: 0.8em;
			}

			.button{
				margin-top: 1em;
			}
		}

		.fa{
			margin-left: 5%;
			padding-bottom: 5%;
		}

	}
}


/*******************************************************/
/*********************** FOOTER ************************/
/*******************************************************/
#footer{
	height: 20em;
}